# Strings- working with text data

In [1]:
my_message = 'Hello World!' # Strings -> text data
print(my_message)

Hello World!

In [2]:
# Print out apostrophes
my_message_1 = "Sam's World"
my_message_2 = 'Sam\'s World'
print(my_message_1)
print(my_message_2)

Sam's World
Sam's World

In [3]:
# Print out multi-line String
message_1 = """Sam's World is a good
magic show.
Isn't it?"""
print(message_1)

Sam's World is a good
magic show.
Isn't it?

In [4]:
# How many characters in our string
message = "Hello World"
print(len(message))

11

In [3]:
# Access a character in a string

# "Hello World"
# Indexing: H -> 0, e -> 1, l ->2, l-> 3, o->4....
# H e l l o   W o r l d
# 0 1 2 3 4 5 6 7 8 9 10
#            -5 -4 -3 -2 -1
message = "Hello World"
print(message[-2])

# Slicing
print(message[4:7])
print(message[:5])
print(message[5:])
print(message[-5:-1])
print(message[-5: ])

l
o W
Hello
 World
Worl
World

In [4]:
# Convert all characters to lowercase or uppercase

message = "hello world. Bye."

print(message.lower())
print(message.upper())
print(message.capitalize())
print(message.title())

hello world. bye.
HELLO WORLD. BYE.
Hello world. bye.
Hello World. Bye.

In [5]:
message = "hello World World hello world"

#Count the number of a char or string occurances
print(message.count("W"))
print(message.count("hello"))

#Find the index of the occurances of a letter
print(message.find("World"))

#This will return -1 since "message" does not contain "Universe"
print(message.find("Universe"))

2
2
6
-1

In [ ]:
indexes = []
index = message.find("World")
print(index)
while index != -1:
    indexes.append(index)
    index = message.find("World", index + 1)
    print(index)
print(indexes)

In [6]:
message = "Hello World World"
print(message.replace("World", "Universe"))
print(message)
#Replace chunks of strings with a new string
message = message.replace("World", "Universe")
print(message)

Hello Universe Universe
Hello World World
Hello Universe Universe

In [7]:
# Concatenating strings together

greetings = "Hello"
name = "Sam"
print(greetings + name)

message = greetings + ', ' + name + '... Welcome!'
print(message)

HelloSam
Hello, Sam... Welcome!

In [8]:
# Formatting stirngs together
greetings = "Hello"
name = "Sam"

# Option 1
message = '{}, {}. Welcome!'.format(greetings, name)
print(message)

# Option 2
message = f'{greetings}, {name}. Welcome!'
print(message)

Hello, Sam. Welcome!
Hello, Sam. Welcome!

# Get information of a variable or a data type

In [ ]:
# Will print out all the methods associated with str variable name
name = "Sam"
print(dir(name)) # add(name ... )
# name.encode()

In [ ]:
# All about str object
print(help(str))

In [ ]:
# information about method lower() of str object

print(help(str.lower))

# Integers and Floats: Working with numeric data

In [ ]:
num = 3090392
print(type(num))
num = 3.14222
print(type(num))

In [ ]:
add = 3 + 2
print(add)
print(3 - 2)
print(3 * 2)
print(8 / 3) # returns float
print(8 // 3) # round down division
print(3**5) # 3 exp 2
print(8 % 3) # reminder of division

In [ ]:
num = 0
num += 1 # num = num + 1
num += 1 # num = num + 1
print(num)

In [ ]:
print(abs(-5))

In [ ]:
print(round(4.50))
print(round(3.75889, 2))

In [ ]:
import math
num = 4.7
print(math.ceil(num))
print(math.floor(num))

In [ ]:
# Comparisons

print(3 == 2) # is equal
print(3 != 2) # is NOT equal
print(3 > 2) # Greater than
print(3 < 2) # Less than
print(3 >= 3) # Greater than equal
print(3 <= 2) # Less than equal

# Python casting
## sub heading
### so on

In [ ]:
num = float(input("Enter something: "))
print(type(num), num)

In [ ]:
# Casting from string to integer
num_1 = '100'
num_2 = '200'
print(num_1 + num_2)

num_1 = int("1000")
num_2 = int(num_2)
print(num_1 + num_2)

In [ ]:
# 59.44 or less F 
# 59.45 to 69.44 D 
# 69.45 to 79.44 C 
# 79.45 to 89.44 B 
# 89.45 or more A

# Lists, Tuples and Sets

In [10]:
# Python List
courses = ['History', 'Science', 'Math', 'Computer Science']
print(courses)
print(type(courses))

['History', 'Science', 'Math', 'Computer Science']
<class 'list'>

In [11]:
# Indexing in lists
print(courses[-2])
# Slicing
print(courses[1:3])
print(courses[:2])
print(courses[2:])
print(courses[-2:-1])

Math
['Science', 'Math']
['History', 'Science']
['Math', 'Computer Science']
['Math']

In [12]:
# Add a course at the end of the list
courses.append("Chemistry")
print(courses)

['History', 'Science', 'Math', 'Computer Science', 'Chemistry']

In [13]:
# add course in a given index
courses.insert(0, "Art")
print(courses)

['Art', 'History', 'Science', 'Math', 'Computer Science', 'Chemistry']

In [5]:
# List can have many types of data
lst = ["A", "B", "C"]
lst.append(122)
print(lst)

['A', 'B', 'C', 122]

In [6]:
# List can even have list as an element
lst2 = [1, 2, 4, "hello"]
lst.append(lst2)
print(lst)
print(lst[-1])

['A', 'B', 'C', 122, [1, 2, 4, 'hello']]
[1, 2, 4, 'hello']

In [14]:
# insert all values fron a list to another list
courses_2 = ["Education", "Management", "Art"]
courses.extend(courses_2)
print(courses)

['Art', 'History', 'Science', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management', 'Art']

In [17]:
# Removing values from a list
courses.remove('Art')
print(courses)

ValueError: list.remove(x): x not in list

In [18]:
courses.remove('Science')
print(courses)

['History', 'Math', 'Computer Science', 'Chemistry', 'Education', 'Management']

In [19]:
# pop to remove the last value
popped = courses.pop()
print(popped)
print(courses)

Management
['History', 'Math', 'Computer Science', 'Chemistry', 'Education']

In [20]:
# Reverse the list
courses.reverse()
print(courses)

['Education', 'Chemistry', 'Computer Science', 'Math', 'History']

In [23]:
# Sort the list
courses = ['History', 'Science', 'Math', 'Computer Science']
print("Original list", courses)
courses.sort(reverse = True)
print("Sorted list", courses)

Original list ['History', 'Science', 'Math', 'Computer Science']
Sorted list ['Science', 'Math', 'History', 'Computer Science']

In [24]:
# Sort the list
courses = ['History', 'Science', 'Math', 'Computer Science']
print("Original list", courses)
sorted_courses = sorted(courses)
print("Sorted list", sorted_courses)
print("Original list remains the same", courses)

Original list ['History', 'Science', 'Math', 'Computer Science']
Sorted list ['Computer Science', 'History', 'Math', 'Science']
Original list remains the same ['History', 'Science', 'Math', 'Computer Science']

In [26]:
# Sorting with numbers
nums = [2, 6, 9, 1, 5]
nums.sort(reverse = True)
print(nums)

[9, 6, 5, 2, 1]

In [27]:
# Keeping an original copy of the list
nums = [2, 3, 9, 1, 6]
sorted_nums = sorted(nums)
print(sorted_nums)
print(nums)

[1, 2, 3, 6, 9]
[2, 3, 9, 1, 6]

In [28]:
# Numerical operations on a list of numbers
nums = [2, 3, 9, 1, 6]
print(min(nums))
print(max(nums))
print(sum(nums))
print(sum(nums) / len(nums))

1
9
21
4.2

In [29]:
# find the index of a value from a list
print(nums.index(6))

4

In [30]:
# check if a value is in a list
print("Math" in courses)
print(4 in nums)
print(6 in nums)

True
False
True

In [ ]:
# Get a list of all variables in the notebook
all_variables = %who_ls

# Iterate through each variable and print it if it's a list
for var_name in all_variables:
    print("Var name is:   " ,var_name)
    var = locals()[var_name]
    print("Var is:   ", var)
    if isinstance(var, list):
        print(f"List {var_name}: {var}")

In [33]:
# printing all elements by accessing all values
print(courses)  
for item in courses:
# iter: 1) item = "Science"
# iter: 2) item = "Math".... 
    print(item)

['History', 'Science', 'Math', 'Computer Science']
History
Science
Math
Computer Science

In [34]:
# printing index and values
for index, values in enumerate(courses): # (0, 'History'), (1, Science)
    # index = 0, values = "Science"
    # index = 1, values = "Math"
    print(index, values)

0 History
1 Science
2 Math
3 Computer Science

In [37]:
# printing index and values

for index, values in enumerate(courses, start = 1):
    print(index, values)

1 History
2 Science
3 Math
4 Computer Science

In [ ]:
# Finding the biggest number: num1, num2

num1 = 3
num2 = 3

if num1 > num2:
    print("Num1 is bigger")
elif num1 == num2:
    print("Num1 is equal to Num2")
else:
    print("Num2 is bigger")

In [ ]:
# Finding the biggest number: num1, num2, num3

num1 = 99
num2 = 999
num3 = 8

if num1 > num2 and num1 > num3:
    print("Num1 is bigger")
elif num2 > num3 and num2 > num1:
    print("Num2 is bigger")
else:
    print("Num3 is bigger")

In [41]:
a = [1, 2, 3]
b = [1, 2, 3]
a = b

print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140403429104328
140403429104328

In [47]:
# Making a string from a list
courses = ['History', 'Science', 'Math', 'Computer Science']
course_str = '_'.join(courses)
course_list = course_str.split('_')
print(course_str)
print(course_list)

History_Science_Math_Computer Science
['History', 'Science', 'Math', 'Computer Science']

# Tuples

In [48]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
print(tuple_1)
print(type(tuple_1))
tuple_1[0] = 'Art'

('History', 'Math', 'Physics', 'CompSci')
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [49]:
tuple_2 = ("Art",)
print(tuple_1 + tuple_2)

('History', 'Math', 'Physics', 'CompSci', 'Art')

# Sets

In [ ]:
sci_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}
art_courses = {'Art', 'History', 'Design'}
print(sci_courses)
print(art_courses)

In [ ]:
print(sci_courses.intersection(art_courses))

In [ ]:
print(sci_courses.difference(art_courses))
print(art_courses.difference(sci_courses))

In [ ]:
print(sci_courses.union(art_courses))

In [ ]:
# Casting a set variable to a list variable
list_course = list(sci_courses)
# Casting the list back to set variable
sci = set(list_course)
print(list_course)
print(sci)

In [ ]:
# list = [1, 2, 3]
# print(list)
list_course = list(sci_courses)
print(list_course)

# Loops and iterations - For/ While loops

In [ ]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    # num = 1
    # num = 2
    # num = 3 ...
    print(num)

In [ ]:
nums = [1, 2, 3, 4, 5, 4, 6]
# find the number 4
for num in nums:
    if(num == 4):
        print("Found 4!")
        break
    print(num)

In [ ]:
# find the number 4
nums = [1, 2, 3, 4, 5, 6]
for num in nums:
    if(num == 4):
        print("Found 4!")
        continue
    print(num)

In [ ]:
nums = [1, 2, 3]
for num in nums:
    # num = 1
    # num = 2
    for letter in "ab":
        # letter = "a"
        # letter = "b"
        print(num, letter)

In [ ]:
for i in range(1, 11): # 1, 2, 3,...10
    print(i)

In [ ]:
num = 10
for i in range(num):
    if i > 5:
        print(i)

In [ ]:
#while loops
x = 5
while x < 10:
    print(x)
    x += 1 # x = x + 1 = 5 + 1 = 6
    # x = 6
    # x = 7
    # x = 8
    # x = 9
    # x = 10

In [ ]:
while True:
    print("Keep running the code.....")

In [ ]:
message = "hi"
while True:
    #message = 'hi'
    if message == 'bye':
        break
    message = input("Enter something:")
    #print(message)
print("Ending program")

In [ ]:
x = 0

while x < 10:
    if x == 5:
        break
    print(x)
    x += 1 # x = x + 1
    
    
# nums = [1, 2, 3, 4, 5, 4, 6]
# # find the number 4
# for num in nums:
#     if(num == 4):
#         print("Found 4!")
#         break
#     print(num)

#### Find the factorial of a number. 1! = 1, 2! = 2 * 1 = 2, 3! = 3 * 2 * 1 = 6, 4! = 4 * 3 * 2 * 1 = 24

# Python: Functions

In [ ]:
def hello_func():
    return "Hello World"
#     print("Hello World")

# hello_func()

In [ ]:
message = hello_func()
print(message)

In [ ]:
#st = "This is a test!"
def hello_func(string):
    return string

string = "This is a test!"
print(hello_func(string))

In [ ]:
def cube(number):
    # number = num
    result = number ** 3
    return result

num = int(input("Enter a number: "))
print("Cube of the number is: ", cube(num))

In [ ]:
def multiply_numbers(a, b, c):
    multiply = a * b * c
    return multiply

print("Multiplication of 3 Numbers is: ", multiply_numbers(4, 2, 5))

In [ ]:
def factorial(num):
    factorial = 1
    # 4! = 1 * 2 * 3 * 4
    for i in range(2, num + 1): # 2, 3, 4
        factorial *= i # factoral = factoral * i, factorial = 1 * 2 = 2, factorial = 2 * 3 = 6, factorial = 6 * 4 = 24

    return factorial
    
num = int(input("Enter a number to know the factorial: "))
print("The factorial of", num, "is", factorial(num))

In [ ]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)
    
student_info('Math', 'Art', 1, 2, 22, name = "John", age = 22)

In [ ]:
# Calculate the days in a month

days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap_year(year):
    
    return year%4 == 0 and year%100 != 0 or year%400 == 0


def num_days_per_month(year, month):
    
    if not (1 <= month <= 12):
        return "Invalid Month!"
    
    if month == 2 and is_leap_year(year):
        return 29
    
    return days[month]

month = int(input("Enter the month: "))
year = int(input("Enter the year: "))

print("The Number of days: ", num_days_per_month(year, month))

# Importing Libraries

In [ ]:
import random

courses = ["Art", "Math", "Science", "History"]

random_courses = random.choice(courses)

print(random_courses)

In [ ]:
random.shuffle(courses)
print(courses)

In [ ]:
random_sample = random.sample(courses, 3)
print(random_sample)

In [ ]:
random_number = random.randint(1, 100)
print(random_number)

In [ ]:
random_float = random.random() #* 100
print(random_float)

In [ ]:
import os

print(os.getcwd())
print(os.__file__)
print(os.listdir("/Users/chandrikasaha/Desktop/Python Coding"))
os.mkdir("NewDir3")
print(os.listdir("/Users/chandrikasaha/Desktop/Python Coding"))

In [ ]:
file_path = "Dragon.ipynb"

# Check if the file exists
if os.path.exists(file_path):
    print("File exists:", file_path)
else:
    print("File does not exist:", file_path)

In [ ]:
import math

rads = math.radians(90)
print(rads)

In [ ]:
print(help(math))

In [ ]:
print(math.factorial(3))

In [ ]:
print(math.pow(100, 100))

In [ ]:
print(100 ** 100)

In [ ]:
num = 3.4
print(math.ceil(num))
print(math.floor(num))

In [1]:
import datetime
import calendar

today = datetime.date.today()
print(today)
print(calendar.isleap(1996))

2024-08-10
True

In [2]:
print(help(datetime))

Help on module datetime:

NAME
    datetime - Fast implementation of the datetime type.

MODULE REFERENCE
    https://docs.python.org/3.6/library/datetime

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

CLASSES
    builtins.object
        date
            datetime
        time
        timedelta
        tzinfo
            timezone

    class date(builtins.object)
     |  date(year, month, day) --> date object
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  ctime(...)
     |      Return ctime() style string.
     |
     |  fromordinal(...) from builtins.type
     |      int -> date corresponding to a proleptic Gregorian ordinal.
     |
     |  fromtimestamp(...) from builtins.type
     |      timestamp -> local date from a POSIX timestamp (like time.time()).
     |
     |  isocalendar(...)
     |      Return a 3-tuple containing ISO year, week number, and weekday.
     |
     |  isoformat(...)
     |      Return string in ISO 8601 format, YYYY-MM-DD.
     |
     |  isoweekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 1 ... Sunday == 7
     |
     |  replace(...)
     |      Return date with new specified fields.
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  timetuple(...)
     |      Return time tuple, compatible with time.localtime().
     |
     |  today(...) from builtins.type
     |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
     |
     |  toordinal(...)
     |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
     |
     |  weekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 0 ... Sunday == 6
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  day
     |
     |  month
     |
     |  year
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.date(9999, 12, 31)
     |
     |  min = datetime.date(1, 1, 1)
     |
     |  resolution = datetime.timedelta(1)

    class datetime(date)
     |  datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
     |
     |  The year, month and day arguments are required. tzinfo may be None, or an
     |  instance of a tzinfo subclass. The remaining arguments may be ints.
     |
     |  Method resolution order:
     |      datetime
     |      date
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __reduce_ex__(...)
     |      __reduce_ex__(proto) -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  astimezone(...)
     |      tz -> convert to local time in new timezone tz
     |
     |  combine(...) from builtins.type
     |      date, time -> datetime with same date and time fields
     |
     |  ctime(...)
     |      Return ctime() style string.
     |
     |  date(...)
     |      Return date object with same year, month and day.
     |
     |  dst(...)
     |      Return self.tzinfo.dst(self).
     |
     |  fromtimestamp(...) from builtins.type
     |      timestamp[, tz] -> tz's local time from POSIX timestamp.
     |
     |  isoformat(...)
     |      [sep] -> string in ISO 8601 format, YYYY-MM-DDT[HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
     |      sep is used to separate the year from the time, and defaults to 'T'.
     |      timespec specifies what components of the time to include (allowed values are 'auto', 'hours', 'minutes', 'seconds', 'milliseconds', and 'microseconds').
     |
     |  now(tz=None) from builtins.type
     |      Returns new datetime object representing current time local to tz.
     |
     |        tz
     |          Timezone object.
     |
     |      If no tz is specified, uses local timezone.
     |
     |  replace(...)
     |      Return datetime with new specified fields.
     |
     |  strptime(...) from builtins.type
     |      string, format -> new datetime parsed from a string (like time.strptime()).
     |
     |  time(...)
     |      Return time object with same time but with tzinfo=None.
     |
     |  timestamp(...)
     |      Return POSIX timestamp as float.
     |
     |  timetuple(...)
     |      Return time tuple, compatible with time.localtime().
     |
     |  timetz(...)
     |      Return time object with same time and tzinfo.
     |
     |  tzname(...)
     |      Return self.tzinfo.tzname(self).
     |
     |  utcfromtimestamp(...) from builtins.type
     |      Construct a naive UTC datetime from a POSIX timestamp.
     |
     |  utcnow(...) from builtins.type
     |      Return a new datetime representing UTC day and time.
     |
     |  utcoffset(...)
     |      Return self.tzinfo.utcoffset(self).
     |
     |  utctimetuple(...)
     |      Return UTC time tuple, compatible with time.localtime().
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  fold
     |
     |  hour
     |
     |  microsecond
     |
     |  minute
     |
     |  second
     |
     |  tzinfo
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
     |
     |  min = datetime.datetime(1, 1, 1, 0, 0)
     |
     |  resolution = datetime.timedelta(0, 0, 1)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from date:
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  fromordinal(...) from builtins.type
     |      int -> date corresponding to a proleptic Gregorian ordinal.
     |
     |  isocalendar(...)
     |      Return a 3-tuple containing ISO year, week number, and weekday.
     |
     |  isoweekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 1 ... Sunday == 7
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  today(...) from builtins.type
     |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
     |
     |  toordinal(...)
     |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
     |
     |  weekday(...)
     |      Return the day of the week represented by the date.
     |      Monday == 0 ... Sunday == 6
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from date:
     |
     |  day
     |
     |  month
     |
     |  year

    class time(builtins.object)
     |  time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) --> a time object
     |
     |  All arguments are optional. tzinfo may be None, or an instance of
     |  a tzinfo subclass. The remaining arguments may be ints.
     |
     |  Methods defined here:
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __format__(...)
     |      Formats self with strftime.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __reduce_ex__(...)
     |      __reduce_ex__(proto) -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  dst(...)
     |      Return self.tzinfo.dst(self).
     |
     |  isoformat(...)
     |      Return string in ISO 8601 format, [HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
     |
     |      timespec specifies what components of the time to include.
     |
     |  replace(...)
     |      Return time with new specified fields.
     |
     |  strftime(...)
     |      format -> strftime() style string.
     |
     |  tzname(...)
     |      Return self.tzinfo.tzname(self).
     |
     |  utcoffset(...)
     |      Return self.tzinfo.utcoffset(self).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  fold
     |
     |  hour
     |
     |  microsecond
     |
     |  minute
     |
     |  second
     |
     |  tzinfo
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.time(23, 59, 59, 999999)
     |
     |  min = datetime.time(0, 0)
     |
     |  resolution = datetime.timedelta(0, 0, 1)

    class timedelta(builtins.object)
     |  Difference between two datetime values.
     |
     |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
     |
     |  All arguments are optional and default to 0.
     |  Arguments may be integers or floats, and may be positive or negative.
     |
     |  Methods defined here:
     |
     |  __abs__(self, /)
     |      abs(self)
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __bool__(self, /)
     |      self != 0
     |
     |  __divmod__(self, value, /)
     |      Return divmod(self, value).
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __floordiv__(self, value, /)
     |      Return self//value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mod__(self, value, /)
     |      Return self%value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __neg__(self, /)
     |      -self
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __pos__(self, /)
     |      +self
     |
     |  __radd__(self, value, /)
     |      Return value+self.
     |
     |  __rdivmod__(self, value, /)
     |      Return divmod(value, self).
     |
     |  __reduce__(...)
     |      __reduce__() -> (cls, state)
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rfloordiv__(self, value, /)
     |      Return value//self.
     |
     |  __rmod__(self, value, /)
     |      Return value%self.
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  __rsub__(self, value, /)
     |      Return value-self.
     |
     |  __rtruediv__(self, value, /)
     |      Return value/self.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  __sub__(self, value, /)
     |      Return self-value.
     |
     |  __truediv__(self, value, /)
     |      Return self/value.
     |
     |  total_seconds(...)
     |      Total seconds in the duration.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  days
     |      Number of days.
     |
     |  microseconds
     |      Number of microseconds (>= 0 and less than 1 second).
     |
     |  seconds
     |      Number of seconds (>= 0 and less than 1 day).
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.timedelta(999999999, 86399, 999999)
     |
     |  min = datetime.timedelta(-999999999)
     |
     |  resolution = datetime.timedelta(0, 0, 1)

    class timezone(tzinfo)
     |  Fixed offset from UTC implementation of tzinfo.
     |
     |  Method resolution order:
     |      timezone
     |      tzinfo
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getinitargs__(...)
     |      pickle support
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  dst(...)
     |      Return None.
     |
     |  fromutc(...)
     |      datetime in UTC -> datetime in local time.
     |
     |  tzname(...)
     |      If name is specified when timezone is created, returns the name.  Otherwise returns offset as 'UTC(+|-)HH:MM'.
     |
     |  utcoffset(...)
     |      Return fixed offset.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  max = datetime.timezone(datetime.timedelta(0, 86340))
     |
     |  min = datetime.timezone(datetime.timedelta(-1, 60))
     |
     |  utc = datetime.timezone.utc
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from tzinfo:
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      -> (cls, state)

    class tzinfo(builtins.object)
     |  Abstract base class for time zone info objects.
     |
     |  Methods defined here:
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __reduce__(...)
     |      -> (cls, state)
     |
     |  dst(...)
     |      datetime -> DST offset in minutes east of UTC.
     |
     |  fromutc(...)
     |      datetime in UTC -> datetime in local time.
     |
     |  tzname(...)
     |      datetime -> string name of time zone.
     |
     |  utcoffset(...)
     |      datetime -> timedelta showing offset from UTC, negative values indicating West of UTC

DATA
    MAXYEAR = 9999
    MINYEAR = 1
    datetime_CAPI = <capsule object "datetime.datetime_CAPI">

FILE
    /Users/chandrikasaha/opt/anaconda3/envs/tf_keras/lib/python3.6/datetime.py


None

In [3]:
import datetime
import calendar

# Example 1: Using datetime module to work with dates and times
# Get the current date and time
current_datetime = datetime.datetime.now()
print("Current date and time:", current_datetime)


# Create a specific date
specific_date = datetime.date(2024, 4, 22)
formatted_specific_date = specific_date.strftime("%m-%d-%y")
print("Specific date:", specific_date)
print("Formatted date: ", formatted_specific_date )

# Example 2: Using calendar module to work with calendars
# Get the calendar for a specific month and year
year = 2
month = 1
cal = calendar.month(year, month)
print(cal)

Current date and time: 2024-08-10 15:12:07.171100
Specific date: 2024-04-22
Formatted date:  04-22-24
     January 2
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

# Python Dictionaries

In [5]:
# 'Key' : 'Value'
student = {'name': 'John', 'age': 25, 'courses' : ['Math', 'History']}
print(student)
print(student['name'])

{'name': 'John', 'age': 25, 'courses': ['Math', 'History']}

KeyError: 'phone'

In [6]:
print(student.get('phone', "Not Found!!"))
print(student.get('age', 0))

Not Found!!
25

In [7]:
student.get('courses').append('Aiden Class')
print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'History', 'Aiden Class']}

In [8]:
# Add a key-value pair
student['phone'] = '555-555555'
student['name'] = 'Aiden'
print(student)

{'name': 'Aiden', 'age': 25, 'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}

In [9]:
student.update({'name': 'Adam'})
print(student)

{'name': 'Adam', 'age': 25, 'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}

In [10]:
new_list = []
new_list.append(student)

In [11]:
print(new_list)

[{'name': 'Adam', 'age': 25, 'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}]

In [12]:
student2 = {'name': 'Adam', 'age': 78, 'courses': [], 'phone': '555-555555'}
new_list.append(student2)
print(new_list)

[{'name': 'Adam', 'age': 25, 'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}, {'name': 'Adam', 'age': 78, 'courses': [], 'phone': '555-555555'}]

In [ ]:
# student3 = {}
# user_input = input("Enter the name: ")
# student3['name'] = user_input
# user_age = int(input("Enter the age: "))
# student3['age'] = user_age
# print(student3)

In [13]:
# delete a key-value pair
del student['age']
student['name'] = None
print(student)

{'name': None, 'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}

In [14]:
name = student.pop('name')
print(name)
print(student)

None
{'courses': ['Math', 'History', 'Aiden Class'], 'phone': '555-555555'}

In [15]:
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

2
dict_keys(['courses', 'phone'])
dict_values([['Math', 'History', 'Aiden Class'], '555-555555'])
dict_items([('courses', ['Math', 'History', 'Aiden Class']), ('phone', '555-555555')])

In [16]:
for key in student.keys():
#     if(key != 'courses'):
    print(key)

courses
phone

In [17]:
for key, value in student.items():
    print(key, "and", value)

courses and ['Math', 'History', 'Aiden Class']
phone and 555-555555

# Python files

In [18]:
import os

current_dir = os.getcwd()

for dirpath, dirname, filenames in os.walk(current_dir):
    print("Current path: ", dirpath)
    print("Directories: ", dirname)
    print("Files: ", filenames)

Current path:  /Users/chandrikasaha/Desktop/Python Coding
Directories:  ['Untitled Folder', 'NewDir', 'NewDir2', 'NewDir3', '.ipynb_checkpoints']
Files:  ['Basics.ipynb', 'Untitled7.ipynb', 'output_titles.txt', 'pokemon_data.csv', 'file1.txt', 'Untitled5.ipynb', 'Dragon.ipynb', 'changed.csv', 'Untitled1.ipynb', '.DS_Store', 'python loop hw solutions.docx', 'y.jpg', 'Parachuter.ipynb', 'ReviewOutlier.ipynb', 'Python_Loop_HW.docx', 'Untitled3.ipynb', 'Untitled.ipynb', 'Untitled4.ipynb', 'Untitled6.ipynb', 'Testing ICE.ipynb', 'testing.txt', 'Exercise.ipynb', 'Test code for editing and documentation use case.ipynb', 'Python_Loop_HW.pdf', 'Attempter.ipynb', 'finals.ipynb', 'testing1.txt', 'Untitled2.ipynb', 'test.json', 'Lambdas.ipynb', 'Loops.ipynb', 'lambda_solutions.pdf', 'CheckingData.ipynb', ' numerical integration approx.ipynb', 'AttemptOutlier.ipynb', 'Input.txt', 'untitled.txt', 'OutlierPythonDebugCode.ipynb', 'input1.csv', 'recursion.ipynb', 'PythonBusiness.ipynb', 'VT.ipynb', 'Dragon-Copy1.ipynb', 'output_keys.txt', 'lambda.docx', 'AssessmentTask.ipynb', 'Untitled8.ipynb', 'lambda.pdf', 'B_c4geneealm_tl.json', 'json.ipynb', 'Testing for Outlier.ipynb', 'test.txt', 'new_text.json', 'Strings.ipynb', 'Basics Numbers.ipynb', 'changed2.csv', 't.jpg', 'Good Codes Outlier.ipynb', 'NLTK.ipynb', 'Output.txt', '03-Control_1pp.pdf', 'pie.png']
Current path:  /Users/chandrikasaha/Desktop/Python Coding/Untitled Folder
Directories:  []
Files:  []
Current path:  /Users/chandrikasaha/Desktop/Python Coding/NewDir
Directories:  ['Untitled Folder']
Files:  []
Current path:  /Users/chandrikasaha/Desktop/Python Coding/NewDir/Untitled Folder
Directories:  []
Files:  []
Current path:  /Users/chandrikasaha/Desktop/Python Coding/NewDir2
Directories:  ['.ipynb_checkpoints']
Files:  ['Untitled.ipynb']
Current path:  /Users/chandrikasaha/Desktop/Python Coding/NewDir2/.ipynb_checkpoints
Directories:  []
Files:  ['Untitled-checkpoint.ipynb']
Current path:  /Users/chandrikasaha/Desktop/Python Coding/NewDir3
Directories:  []
Files:  []
Current path:  /Users/chandrikasaha/Desktop/Python Coding/.ipynb_checkpoints
Directories:  []
Files:  ['Basics Numbers-checkpoint.ipynb', 'Untitled3-checkpoint.ipynb', 'json-checkpoint.ipynb', 'recursion-checkpoint.ipynb', 'Testing for Outlier-checkpoint.ipynb', 'Untitled8-checkpoint.ipynb', 'NLTK-checkpoint.ipynb', 'Parachuter-checkpoint.ipynb', 'AttemptOutlier-checkpoint.ipynb', 'Exercise-checkpoint.ipynb', 'Untitled7-checkpoint.ipynb', 'finals-checkpoint.ipynb', 'Attempter-checkpoint.ipynb', 'Untitled2-checkpoint.ipynb', 'PythonBusiness-checkpoint.ipynb', 'Loops-checkpoint.ipynb', 'CheckingData-checkpoint.ipynb', 'Basics-checkpoint.ipynb', 'Untitled6-checkpoint.ipynb', 'Lambdas-checkpoint.ipynb', 'ReviewOutlier-checkpoint.ipynb', 'Untitled1-checkpoint.ipynb', 'OutlierPythonDebugCode-checkpoint.ipynb', 'Untitled5-checkpoint.ipynb', 'VT-checkpoint.ipynb', 'Untitled-checkpoint.ipynb', 'Test code for editing and documentation use case-checkpoint.ipynb', 'AssessmentTask-checkpoint.ipynb', 'Strings-checkpoint.ipynb', 'Dragon-Copy1-checkpoint.ipynb', 'Dragon-checkpoint.ipynb', 'Untitled4-checkpoint.ipynb', 'Testing ICE-checkpoint.ipynb', ' numerical integration approx-checkpoint.ipynb', 'Good Codes Outlier-checkpoint.ipynb']

In [1]:
# opening a file in non-recommended way
f = open('output_keys.txt', 'r')
print(f.read())
f.close()

10: Will & Grace
20: Gunsmoke;Law & Order
30: The Simpsons

In [2]:
# recommended
with open('output_keys.txt', 'r') as f:
    f_content = f.readlines() # read(), readlines(), readline()
    print(f_content)

['10: Will & Grace\n', '20: Gunsmoke;Law & Order\n', '30: The Simpsons']

In [3]:
# print the lines of a file, method other than readline

with open('output_keys.txt', 'r') as f:
    for line in f:
        print(line, end='\n')

10: Will & Grace

20: Gunsmoke;Law & Order

30: The Simpsons

In [4]:
# to get more control of the exact contents that are being read
with open('output_keys.txt', 'r') as f:
    size_to_read = 10
    f_content = f.read(size_to_read)
    #print(f_content, end = '')
    while len(f_content) > 0:
        print(f_content, end = '')
        f_content = f.read(size_to_read)

10: Will & Grace
20: Gunsmoke;Law & Order
30: The Simpsons

In [5]:
# to print out the current cursor point of the file

with open('output_keys.txt', 'r') as f:
    size_to_read = 50
    f_content = f.read(size_to_read)
    print(f.tell())

50

In [6]:
# set the cursor position in the file
with open('output_keys.txt', 'r') as f:
    print(f.tell())
    f.seek(50)
    print(f.tell())

0
50

In [8]:
# writing to a file
with open('output_keys.txt', 'w') as f:
    f.write("""10: Will & Grace
20: Gunsmoke;Law & Order
30: The Simpsons.....""")

In [9]:
with open('output_keys.txt', 'r') as f:
    print(f.read())

10: Will & Grace
20: Gunsmoke;Law & Order
30: The Simpsons.....

In [10]:
# read a file and make a copy
with open('output_keys.txt', 'r') as rf1:
    with open('output_titles.txt', 'r') as rf2:
        with open('test.txt', 'w') as wf:
            for line in rf1:
                wf.write(line)
            wf.write("\n")
            for line in rf2:
                wf.write(line)

In [11]:
with open('test.txt', 'r') as f:
    print(f.read())

10: Will & Grace
20: Gunsmoke;Law & Order
30: The Simpsons.....
Dallas
Gunsmoke
Law & Order
Murder, She Wrote
The Simpsons
Will & Grace

In [ ]:
# read an image file and make a copy 
with open('y.jpg', 'rb') as rf:
    with open('t.jpg', 'wb') as wf:
        for line in rf:
            wf.write(line)

In [ ]:
# Reverse a string
string = "Hello world"
print(string[0:5:2])
print(string[::-1])

In [ ]:
str1 = "Hello world"
str2 = "Hello"
if str2 in str1:
    print("str1 contains str2")
else:
    print("Nope")

In [ ]:
sentence = "Hello world. ? !"
listOfWords = sentence.split()
print(listOfWords)
reversed_str = ' '.join(reversed(listOfWords))
print(reversed_str)

# Try/Except block for error handling

In [12]:
f = open('testing...txt')
f.close()
print("Success!")

FileNotFoundError: [Errno 2] No such file or directory: 'testing...txt'

In [13]:
try:
    f = open('test....txt')
    print(f.read())
    f.close()
    print("Success!")
except Exception:
    print("Sorry, this file does not exist!")

Sorry, this file does not exist!

In [ ]:
# more specific try-except
try:
    f = open('test.txt')
    f.close()
    print("Hello")
except FileNotFoundError:
    print("File does not exist!")

In [15]:
# general error printing
try:
#     jkjkjk
    f = open('test....txt')
    jfkdjf
    f.close()
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'test....txt'

In [16]:
try:
    f = open('test...txt')
    num = 10/0
except ZeroDivisionError:
    print('Cannot divide by 0!!')
except FileNotFoundError:
    print("Sorry, this file does not exist!")
except Exception as e:
    print(e)
else:
    print(f.read())
    f.close()
finally:
    print("Executing Finally...")

Sorry, this file does not exist!
Executing Finally...

In [ ]:
try:
    f = open('file1.txt')
    if f.name == 'file1.txt':
        print(f.read())
        raise Exception
except Exception as e:
    print("Error!")
finally:
    f.close()

# Pandas

In [1]:
# flixibility of Python, Excel is limitted
# Working with large amount of data
# We load data on a dataframe

import pandas as pd

pokemon = pd.read_csv('pokemon_data.csv')
pokemon.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [2]:
pokemon.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# print the columns
print(pokemon.columns)

# read a column
print(pokemon['Name'])
print(pokemon['Name'][0:5])

# read multiple columns
print(pokemon[['Name', 'HP', 'Attack']])
print(pokemon[['Name', 'HP', 'Attack']][0:5])

In [ ]:
# # Read one row
print(pokemon.iloc[0])

# # Read multiple rows
print(pokemon.iloc[1:5])

# # access a location (R, C)
print(pokemon.iloc[2, 1])

In [ ]:
# iterate through all rows of the dataframe
for index, row in pokemon.iterrows():
    print(index, row)

In [ ]:
# iterate through all rows of the dataframe for a specific column
for index, row in pokemon.iterrows():
    print(index, row['Name'])

In [ ]:
# find rows with values
pokemon.loc[pokemon['Defense'] > 200]

In [ ]:
pokemon.info()

In [ ]:
# Describing datafram
pokemon.describe()

In [ ]:
# # sorting the values
# pokemon.sort_values('Name')

# # sort decending
# pokemon.sort_values('Name', ascending = False)

# # sort by multiple columns 
# pokemon.sort_values(['Name', 'Defense'])

# sort descending - multiple columns 
pokemon.sort_values(['Attack', 'HP'], ascending = [False, True])

In [ ]:
# add a new column
pokemon['Total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Speed']

In [ ]:
pokemon.head(5)

In [ ]:
# remove a column
pokemon = pokemon.drop(columns = 'Total')
pokemon.head(5)

In [ ]:
# Add a new column in a different way
pokemon['Total'] = pokemon.iloc[:, 4:10].sum(axis = 1) # horizontal addition, 0 for rows
pokemon.head(5)

In [ ]:
# ordering the columns

columns = list(pokemon.columns.values)
print(columns)
pokemon = pokemon[columns[0:4] + [columns[-1]] + columns[4:12]]
pokemon.head(5)

In [ ]:
# # Save file as csv
# pokemon.to_csv('changed.csv')
# do not include the index column
# pokemon.to_csv('changed2.csv', index = False)
# pokemon.to_csv('changed2.csv', index = False, sep='\t')

In [ ]:
# Filtering data
pokemon.loc[(pokemon['Type 1'] == 'Grass') & (pokemon['Type 2'] == 'Poison') & (pokemon['HP'] > 70)]

In [ ]:
new = pokemon.loc[(pokemon['Type 1'] == 'Grass') & (pokemon['Type 2'] == 'Poison') & (pokemon['HP'] > 70)]
new

In [ ]:
new = new.reset_index()
new

In [ ]:
new = new.reset_index(drop = True)
new
# new.reset_index(drop = True, inplace = True)
# new

In [ ]:
pokemon.loc[pokemon['Name'].str.contains('Mega')]

In [ ]:
pokemon.loc[~pokemon['Name'].str.contains('Mega')]

In [ ]:
import re

df = pokemon
df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)]

In [ ]:
# '^pidg[a-z]$' --> just one alphabet
# '^pidg[a-z]{2}$' --> exactly 2 alphabets

df.loc[df['Name'].str.contains('^pidg[a-z]*', flags = re.I, regex = True)]

In [ ]:
# conditional changes

df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

In [ ]:
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

In [ ]:
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['TEST 1','TEST 2']
df.head(20)

In [ ]:
df.groupby(['Type 2']).mean().sort_values('Defense', ascending = True)
print(sorted(df['Type 1'].unique()))
print(sorted(df['Type 2'].dropna().unique()))

In [ ]:
def read_data():
    pokemon = pd.read_csv('pokemon_data.csv')
    return pokemon
df = read_data()
df['Types'] = df['Type 1'] + " & " + df['Type 2']
df.groupby(['Types']).sum()

In [ ]:
df['count'] = 1
df.groupby(['Type 2']).sum()['count']

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df.groupby(['Type 1', 'Type 2']).sum()['count']

In [ ]:
df.groupby('Type 1')['HP'].median()

In [ ]:
import numpy as np
df.groupby('Type 1')['HP'].aggregate(['min', np.median, max, np.std])

In [ ]:
df.groupby('Types').aggregate({'HP': 'min', 'Attack': 'max', 'Defense': 'median'})

In [ ]:
df.groupby('Type 1')[['HP', 'Attack', 'Defense']].std()
# df.info()

In [ ]:
def filter_func(x):
    return x['HP'].std() > 20

In [ ]:
df2 = df.groupby('Type 1')[['Type 1', 'HP', 'Attack', 'Defense']].filter(filter_func).reset_index(drop =True).set_index('Type 1')
df2

In [ ]:
df3 = {'key': ['A', 'B', 'C', 'A', 'C'], 'data1': [0, 1, 2, 3, 4], 'data2': [5, 6, 7, 8, 9] }
df3 = pd.DataFrame(df3)
df3

In [ ]:
df3.groupby('key').mean()

In [ ]:

# key	data1	data2
# 	A	0	5
# 	B	1	6
# 	C	2	7
# 	A	3	8
# 	C	4	9

def fnc(x):
#     print(x['data1'].mean())
    return x['data1'].mean() >= 2

df3.groupby('key').filter(fnc).reset_index()

In [ ]:
df.groupby('Type 1')['HP'].transform(lambda x: x - x.mean())

In [ ]:
# let you apply arbitrary functon to the group result
def norm_by_data(x):
    x['Attack'] /= x['HP'].sum()
    return x

df.groupby('Type 1')[['HP', 'Attack']].apply(norm_by_data)

In [ ]:
# creating your own split
import random
lst = []
for i in range(len(df)):
    lst.append(random.randint(0, 3))
print(lst)
df.groupby(lst).sum()

In [ ]:
# pass any Python function that will input the index value and output the group
df2 = df.set_index('Type 1')
df2

In [ ]:
df2.groupby(str.lower).mean()

In [ ]:
# use def read_data(): to read the csv

### Lamda function in Python

In [ ]:
# function without `def`
# anything after the `lambda` keyword is treated as an argument
add = lambda a, b: a + b
print(add(3, 8))

def add2(a = 4 , b = 2):
    return a + b
print(add2())

In [ ]:
add = lambda a: a + 5
add(10)

In [ ]:
# lambda without assigning it to a variable
# Immediately Envoked Function Expression
(lambda a, b: a * b)(3, 5)

In [ ]:
product = lambda x, y, z = 7: x * y * z
print(product(z = 5, x = 1, y = 1))

In [ ]:
add = lambda x, y = 15, z = 1: x + y + z
print(add(1))

In [ ]:
add = lambda *args: sum(args)
print(add(1, 2, 3, 4, 5, 6))

In [ ]:
higher_ord = lambda x, fun: x + fun(x)
higher_ord(5, lambda x: x * x)

In [ ]:
print(12 % 5)

In [ ]:
(lambda x : (x % 2) and 'odd' or 'even')(12)
# 1 and 'odd' or 'even' -> 'odd'
# 0 and 'odd' or 'even' -> 'even'

In [ ]:
sub_string = lambda string : string in "Python Lessons" 
sub_string("java")

In [ ]:
nums = [10, 40, 80, 160, 240, 400]
greater = list(filter(lambda num: num > 80, nums))
print(greater)

In [ ]:
nums = [2, 4, 6, 8, 16, 32, 64, 128, 256]
divide = list(filter(lambda x : (x%4 == 0), nums))
print(divide)

In [ ]:
nums = [2, 4, 6, 8, 16, 32, 64, 128, 256]
double = list(map(lambda x: x * 2, nums))
print(double)

In [ ]:
nums = [1, 2, 3, 4, 5]
cube = list(map(lambda x : pow(x, 3), nums))
print(cube)

In [ ]:
from functools import reduce
nums = [1, 2, 3]
summ = reduce((lambda x, y: x / y), nums)
print(summ)

In [ ]:
def quadratic(a, b, c):
    return lambda x: a*x**2 + b*x + c
    # lambda x: 2*x**2 + 3*x + 5
f = quadratic(2, 3, 5) #lambda x: 2*x**2 + 3*x + 5
print(f(1))
print(f(2))
print(f(3))
f = quadratic(3, 5, 7) #lambda x: 2*x**2 + 3*x + 5
print(f(1))
print(f(2))
print(f(3))

# Merge (join), Concat / Append in Pandas

In [1]:
import pandas as pd

table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [7, 8, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
print(table3)

   col1  col2
0     1     4
1     2     5
2     3     6
   col1  col2
0     4     7
1     5     8
2     6     9
   col3  col4
0     1     4
1     1     4
2     2     6

In [2]:
pd.concat([table1, table2])

   col1  col2
0     1     4
1     2     5
2     3     6
0     4     7
1     5     8
2     6     9

In [3]:
table1.append(table2)

   col1  col2
0     1     4
1     2     5
2     3     6
0     4     7
1     5     8
2     6     9

In [4]:
pd.concat([table1, table3])

   col1  col2  col3  col4
0   1.0   4.0   NaN   NaN
1   2.0   5.0   NaN   NaN
2   3.0   6.0   NaN   NaN
0   NaN   NaN   1.0   4.0
1   NaN   NaN   1.0   4.0
2   NaN   NaN   2.0   6.0

In [5]:
pd.concat([table1, table3], axis = 1) # axis 1->`across columns`, axis 0 -> `across row`

   col1  col2  col3  col4
0     1     4     1     4
1     2     5     1     4
2     3     6     2     6

In [6]:
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='right')

   col1  col2
0     1     4
1     2     5
2     3     6
   col1  col2
0     4     7
1     5     8
2     6     9

   col1_x  col2  col1_y
0     NaN     7       4
1     NaN     8       5
2     NaN     9       6

In [7]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [4, 4, 6]})
print(table1)
print(table2)
pd.merge(table1, table2, on='col2', how='outer') # other joins: left, right, inner, outer

   col1  col2
0     1     4
1     2     5
2     3     6
   col1  col2
0     4     4
1     5     5
2     6     9

   col1_x  col2  col1_y
0     1.0     4     4.0
1     2.0     5     5.0
2     3.0     6     NaN
3     NaN     9     6.0

In [18]:
table1 = pd.DataFrame(data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]})
table2 = pd.DataFrame(data = {'col1': [4, 5, 6], 'col2': [4, 5, 9]})
table3 = pd.DataFrame(data = {'col3': [1, 1, 2], 'col4': [6, 8, 9]})
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='left')

   col1  col2
0     1     4
1     2     5
2     3     6
   col3  col4
0     1     6
1     1     8
2     2     9

   col1  col2  col3  col4
0     1     4   NaN   NaN
1     2     5   NaN   NaN
2     3     6   1.0   6.0

In [19]:
print(table1)
print(table3)

# col1 col2 col3 col4
# 1, 4, 1, 4
# 1, 4, 1, 4
# 2, 5, 2, 6
# 3, 6, NaN, NaN
pd.merge(table1, table3, left_on='col2', right_on='col4', how='outer')

   col1  col2
0     1     4
1     2     5
2     3     6
   col3  col4
0     1     6
1     1     8
2     2     9

   col1  col2  col3  col4
0   1.0   4.0   NaN   NaN
1   2.0   5.0   NaN   NaN
2   3.0   6.0   1.0   6.0
3   NaN   NaN   1.0   8.0
4   NaN   NaN   2.0   9.0

In [21]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='inner')

   col1  col2
0     1     4
1     2     5
2     3     6
   col3  col4
0     1     6
1     1     8
2     2     9

   col1  col2  col3  col4
0     3     6     1     6

In [22]:
print(table1)
print(table3)
pd.merge(table1, table3, left_on='col2', right_on='col4', how='right')

   col1  col2
0     1     4
1     2     5
2     3     6
   col3  col4
0     1     6
1     1     8
2     2     9

   col1  col2  col3  col4
0   3.0   6.0     1     6
1   NaN   NaN     1     8
2   NaN   NaN     2     9

# Pivot Table

In [23]:
def read_data():
    pokemon = pd.read_csv('pokemon_data.csv')
    return pokemon

df = read_data()
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [24]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean')

              Attack     Defense         HP
Type 1
Bug        70.971014   70.724638  56.884058
Dark       88.387097   70.225806  66.806452
Dragon    112.125000   86.375000  83.312500
Electric   69.090909   66.295455  59.795455
Fairy      61.529412   65.705882  74.117647
Fighting   96.777778   65.925926  69.851852
Fire       84.769231   67.769231  69.903846
Flying     78.750000   66.250000  70.750000
Ghost      73.781250   81.187500  64.437500
Grass      73.214286   70.800000  67.271429
Ground     95.750000   84.843750  73.781250
Ice        72.750000   71.416667  72.000000
Normal     73.469388   59.846939  77.275510
Poison     74.678571   68.821429  67.250000
Psychic    71.456140   67.684211  70.631579
Rock       92.863636  100.795455  65.363636
Steel      92.703704  126.370370  65.222222
Water      74.151786   72.946429  72.062500

In [25]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean').reset_index()

      Type 1      Attack     Defense         HP
0        Bug   70.971014   70.724638  56.884058
1       Dark   88.387097   70.225806  66.806452
2     Dragon  112.125000   86.375000  83.312500
3   Electric   69.090909   66.295455  59.795455
4      Fairy   61.529412   65.705882  74.117647
5   Fighting   96.777778   65.925926  69.851852
6       Fire   84.769231   67.769231  69.903846
7     Flying   78.750000   66.250000  70.750000
8      Ghost   73.781250   81.187500  64.437500
9      Grass   73.214286   70.800000  67.271429
10    Ground   95.750000   84.843750  73.781250
11       Ice   72.750000   71.416667  72.000000
12    Normal   73.469388   59.846939  77.275510
13    Poison   74.678571   68.821429  67.250000
14   Psychic   71.456140   67.684211  70.631579
15      Rock   92.863636  100.795455  65.363636
16     Steel   92.703704  126.370370  65.222222
17     Water   74.151786   72.946429  72.062500

In [27]:
pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='std')

             Attack    Defense         HP
Type 1
Bug       37.040904  33.617609  16.328914
Dark      25.774247  25.121982  21.078297
Dragon    33.742622  24.102938  23.795415
Electric  23.764169  24.757033  17.306511
Fairy     29.751298  18.979478  23.587291
Fighting  28.290163  18.578163  25.852695
Fire      28.769275  23.658200  19.404123
Flying    37.500000  21.360009  20.694202
Ghost     29.629687  32.551138  31.685895
Grass     25.380520  24.485192  19.516564
Ground    33.059087  33.786912  25.662492
Ice       27.289511  34.387708  21.286861
Normal    30.295862  23.771833  36.233430
Poison    19.630010  21.066128  19.665019
Psychic   42.309265  28.359401  28.421340
Rock      35.325458  36.447209  20.833884
Steel     30.388276  44.806548  16.044010
Water     28.377192  27.773809  27.487026

In [28]:
mean_data = pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='mean').reset_index()
mean_data.columns = ['Type 1', 'Mean HP', 'Mean Attack', 'Mean Defense']
print(mean_data)
var_data = pd.pivot_table(df, index = 'Type 1', values=['HP','Attack', 'Defense'], aggfunc='var').reset_index()
var_data.columns = ['Type 1', 'Var HP', 'Var Attack', 'Var Defense']
var_data

      Type 1     Mean HP  Mean Attack  Mean Defense
0        Bug   70.971014    70.724638     56.884058
1       Dark   88.387097    70.225806     66.806452
2     Dragon  112.125000    86.375000     83.312500
3   Electric   69.090909    66.295455     59.795455
4      Fairy   61.529412    65.705882     74.117647
5   Fighting   96.777778    65.925926     69.851852
6       Fire   84.769231    67.769231     69.903846
7     Flying   78.750000    66.250000     70.750000
8      Ghost   73.781250    81.187500     64.437500
9      Grass   73.214286    70.800000     67.271429
10    Ground   95.750000    84.843750     73.781250
11       Ice   72.750000    71.416667     72.000000
12    Normal   73.469388    59.846939     77.275510
13    Poison   74.678571    68.821429     67.250000
14   Psychic   71.456140    67.684211     70.631579
15      Rock   92.863636   100.795455     65.363636
16     Steel   92.703704   126.370370     65.222222
17     Water   74.151786    72.946429     72.062500

      Type 1       Var HP   Var Attack  Var Defense
0        Bug  1372.028559  1130.143649   266.633419
1       Dark   664.311828   631.113978   444.294624
2     Dragon  1138.564516   580.951613   566.221774
3   Electric   564.735729   612.910677   299.515328
4      Fairy   885.139706   360.220588   556.360294
5   Fighting   800.333333   345.148148   668.361823
6       Fire   827.671192   559.710407   376.519985
7     Flying  1406.250000   456.250000   428.250000
8      Ghost   877.918347  1059.576613  1003.995968
9      Grass   644.170807   599.524638   380.896273
10    Ground  1092.903226  1141.555444   658.563508
11       Ice   744.717391  1182.514493   453.130435
12    Normal   917.839259   565.100042  1312.861456
13    Poison   385.337302   443.781746   386.712963
14   Psychic  1790.073935   804.255639   807.772556
15      Rock  1247.887949  1328.399049   434.050740
16     Steel   923.447293  2007.626781   257.410256
17     Water   805.265042   771.384492   755.536599

In [29]:
pd.merge(mean_data, var_data, on='Type 1', how='left')

,Type 1,Mean HP,Mean Attack,Mean Defense,Var HP,Var Attack,Var Defense
0,Bug,70.971014,70.724638,56.884058,1372.028559,1130.143649,266.633419
1,Dark,88.387097,70.225806,66.806452,664.311828,631.113978,444.294624
2,Dragon,112.125000,86.375000,83.312500,1138.564516,580.951613,566.221774
3,Electric,69.090909,66.295455,59.795455,564.735729,612.910677,299.515328
4,Fairy,61.529412,65.705882,74.117647,885.139706,360.220588,556.360294
5,Fighting,96.777778,65.925926,69.851852,800.333333,345.148148,668.361823
6,Fire,84.769231,67.769231,69.903846,827.671192,559.710407,376.519985
7,Flying,78.750000,66.250000,70.750000,1406.250000,456.250000,428.250000
8,Ghost,73.781250,81.187500,64.437500,877.918347,1059.576613,1003.995968
9,Grass,73.214286,70.800000,67.271429,644.170807,599.524638,380.896273
10,Ground,95.750000,84.843750,73.781250,1092.903226,1141.555444,658.563508
11,Ice,72.750000,71.416667,72.000000,744.717391,1182.514493,453.130435
12,Normal,73.469388,59.846939,77.275510,917.839259,565.100042,1312.861456
13,Poison,74.678571,68.821429,67.250000,385.337302,443.781746,386.712963
14,Psychic,71.456140,67.684211,70.631579,1790.073935,804.255639,807.772556
15,Rock,92.863636,100.795455,65.363636,1247.887949,1328.399049,434.050740
16,Steel,92.703704,126.370370,65.222222,923.447293,2007.626781,257.410256
17,Water,74.151786,72.946429,72.062500,805.265042,771.384492,755.536599

# Stacking

In [35]:
df.stack()

0    #                     1
     Name          Bulbasaur
     Type 1            Grass
     Type 2           Poison
     HP                   45
                     ...
799  Sp. Atk             130
     Sp. Def              90
     Speed                70
     Generation            6
     Legendary          True
Length: 9214, dtype: object

In [37]:
df.iloc[0]['Name']

'Bulbasaur'

In [31]:
pd.DataFrame(df.stack())

                        0
0   #                   1
    Name        Bulbasaur
    Type 1          Grass
    Type 2         Poison
    HP                 45
...                   ...
799 Sp. Atk           130
    Sp. Def            90
    Speed              70
    Generation          6
    Legendary        True

[9214 rows x 1 columns]

In [41]:
df.stack().unstack()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Conversion

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [45]:
df['Type 1'] = df['Type 1'].astype('category')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    category
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), category(1), int64(8), object(2)
memory usage: 65.0+ KB

In [47]:
df['Attack'] = df['Attack'].astype('float32')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    category
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    float32
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), category(1), float32(1), int64(7), object(2)
memory usage: 61.8+ KB

### Other conversions:
<li> to_datetime</li>
    <li> to_timedelta
    <li> to_numeric
        <li> numpy.ndarray.astype